<!DOCTYPE html>
<html lang="en">
<head>
<title>Surveillance</title>
<meta charset="UTF-8">
<meta name="ADITYA KAKDE">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <center>
        <h1 style="color:black;"><b>Video Surveillance</b></h1>
    </center>
    <br>
    <div class="row">
        <div class="col-sm-8">
            <iframe width="100%" height="800" src="monitor/" frameborder="0" allowfullscreen scrolling="no"></iframe>
        </div>
        <div class="col-sm-4">
            <h2>{{ text }}</h2>
        </div>
    </div>
</div>
</body>
</html>
